{% extends 'base.html' %}

{% block content %}

<!-- Car Listing Page -->
<div id="listPage" class="page bg-gray-50 min-h-screen">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <!-- Filters -->
        <div class="bg-white p-4 rounded-lg shadow mb-6">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                <select class="border rounded-md p-2">
                    <option>Filter by transmisson type</option>
                    {% for engine in engintype %}
                    <option>{{ engine.name }}</option>
                    {% endfor %}
                </select>
                <select class="border rounded-md p-2">
                    <option>Filter by Vehicle Type</option>
                    {% for vehicle_type in vehicletype %}
                    <option>{{ vehicle_type.name }}</option>
                    {% endfor %}
                </select>
                <button class="bg-blue-600 text-white rounded-md hover:bg-blue-700">Apply Filters</button>
            </div>
        </div>

        <!-- Car Grid -->
         {% for vehicle in vehicles%}
        <a href="detail/{{ vehicle.id }}">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Car Card 1 -->
            <div class="bg-white rounded-lg shadow overflow-hidden cursor-pointer">
                <img src="{{ vehicle.image.url }}" alt="Car" class="w-full object-cover" />
                <div class="p-4">
                    <h3 class="text-xl font-semibold">{{ vehicle.year }} {{ vehicle.brand }} {{ vehicle.model }} {{ vehicle.color }} </h3>
                    <div class="mt-2 flex justify-between text-sm text-gray-500">
                        <span>Millage: {{ vehicle.millage }}</span>
                    </div>
                </div>
            </div>
            <!-- More car cards... -->
        </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}